---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Resources from '../components/Resources.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
	<div class = "wrapper">
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" >
  <head>
    <MainHead />
  </head>
  <body>
    <main>
    <Resources />
    <Footer />
    </main>
  </body>
</div>
</html>

<style>
	.wrapper
	{
		
	}
</style>