---
// Component Imports
import Head from '../components/Head.astro';
import Resources from '../components/Resources.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
	<div class = "wrapper">
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" >
  <head>
    <Head />
  </head>

  <body>
    <main>
    <Resources />
    <Footer />
    </main>
  </body>

</div>
</html>

<style>
	
</style>