---
import site from "../data/site.json";
const {socials, author} = site;
---
<hr>
<div><small>Feel free to check out my other socials or contact me below </small>  </div>
<footer id="footer">	
            {socials.map((social) => (
                <div class="social-icon tooltip-container">
                    <span class="tooltip">{social.title}</span>
                    <a href={social.link} target="blank">
                        <i class={`devicon-${social.icon}-plain`}></i>
                    </a>
                </div>
            ))}
</footer>

<style>
footer {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 margin-bottom: 30px;
}
 footer h2 {
	 margin-top: 0;
}
 
 footer .social-icon {
	 padding: 10px;
	 margin: 5px;
	 border-radius: 5px;
	 display: inline-block;
	 color:white;
}
 footer .social-icon a {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-decoration: none;
	 color:white;

}
footer .social-icon :hover {
	 color:rgb(98, 211, 255);
	 font-size:20px;

}
 footer .social-icon a i {
	 width: 24px;
	 height: 24px;
	 font-size: 2rem;
	 color:white;
}

</style>