---
import site from "../data/site.json";
const title = `Resources`;
const {resources} = site;
---
<section id="Resources">

    {Object.keys(resources).map((i) => (
        <div class="list">
           
            {resources[i].map(item => (
                <div class="list-item">
                                
                        <strong>{item.title}</strong>
                        <div class="list-item--desc">{item.description}</div>
                    </div>
                  
               <br>
            ))}
        </div>
    ))}

</section>
